<%- include("partials/header") %>
<body>
    <div class="background-image"></div>
<%- include("partials/body") %>
<div id="registerContainer" class="d-flex justify-content-center align-items-center">
        <div class="row">
            <div id="registerText" class="col-md-6">
                <h1>Create Account!</h1>
                <hr>
                
            </div>
            <div id="registerForm" class="col-md-5">
              <form method="POST" action="/register">
                <div class="form-group">
                  <label for="exampleUsername">User Name</label>
                  <input type="text" id="exampleUsername" name="username" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleFirstName">First Name</label>
                  <input type="text" id="exampleFirstName" name="userData[firstName]" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleLastName">Last Name</label>
                    <input type="text" id="exampleLastName" name="userData[lastName]" class="form-control" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleEmail">Email address</label>
                    <input type="email" id="exampleEmail" name="userData[email]" class="form-control" aria-describedby="emailHelp">
                  </div>
                <div class="form-group">
                  <label for="examplePassword">Password</label>
                  <input type="password" id="examplePassword" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form></div>
        </div>
</div>

<%- include("partials/footer") %>