body,html{
    height:100%;
}

/*===========
//INDEX
===========*/

/*////NAVBAR/////*/
#main-navbar #login-dropMenu a{
    color:black;
}

#login-button
{
    background-color: transparent;
    border:0;
}

#login-submit{
    margin-top:15px;
}

/*////ALERT FLASH/////*/
.alert{
    /* opacity:60%; */
    z-index:2;
    width:100%;
    font-size: 16px;
    position:fixed;
    top:40px;
    padding:1px 0;
    display:flex;
    justify-content: space-around;
}
.alert-success button{
    color:rgb(21,87,36)!important;
}

.alert-success{
    background-color: rgba(212,237,218,0.8);
    border:0;
}

.alert-danger{
    background-color: rgba(166, 68, 82,0.8);
    color:white;
    border:0;
}
.alert-danger button{
    color:white !important;
}
.alert-button{
    color:white;
    border:0;
    outline:none !important;
    background-color:transparent;
}

/*////PARALLAX/////*/
#main-parallax{
    color:white;
    padding-top:80px;
}

#main-navbar a
{
    color:white;
}

.parallax-window {
    height:500px;
}

#carouselExampleCaptions,.carousel-item,.carousel-item img,.carousel-inner
{
    width:600px;
    height:350px;
}
#carouselExampleCaptions
{
    margin:10px auto;
}

@media (max-width: 992px) {
    #carouselText{
       text-align:center;
    }
    #carouselExampleCaptions,.carousel-item,.carousel-item img,.carousel-inner
    {
        width:480px;
        height:280px;
    }
  }



#carouselExampleCaptions img{
    border:beige solid 2px;
}

#movies-container
{
    margin-top:25px;
}
#movies-container img{
    height:260px;
}

.movie-title{
    height:10%;
}



/*==========
//REGISTER
==========*/

#registerBody{
    background: url("/pictures/ticket.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0.5);
}

.background-image {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/pictures/ticket.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    transform: scale(1.02);
    overflow: hidden;
} 

#registerContainer{
    height:800px;
}

#registerForm{
    background-color: white;
    width:600px;
    padding:60px 30px;
    border-radius:8px;
}

#registerText{
    color:white;
}

#registerText hr{
  border: #AB2046 1px solid;
}










