<h1>Hi</h1>

<div class="container">
    


                    <img src="<%=movie.Poster%>">
                <div class="movie-title">
                    <h4><%=movie.Title%></h4>
                </div>
            </div>

    </div>
</div>